.container {
background:url("file:///C:/Users/hp/OneDrive/Documents/inventory%20management%20system/Screenshot%202024-01-07%20135356.png");
height: 100%;
width:100%;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
div.loginHeader{
text-align:center;
}
div.loginHeader{
margin-bottom:60px;
}
div.loginHeader h1{
font-size:60px;
color:#fff;
padding:0px;
margin:0px;
}
div.loginHeader h2{
font-size:45px;
color:#fff;
padding:0px;
margin:0px;
display:inline-block;
}
div.loginHeader p:after{
content:'';
display:block;
height:5px;

background:#fff;
text-transform:uppercase;
}
div.loginBody form{
margin:0 auto;
width:450px;
background: rgba(0,0,0,.5);
padding:50px;
border:5px solid #f685a2;
}
div.loginInputsContainer label{
margin-top:20px;
}
div.loginInputsContainer label{
display:block;
text-transform:uppercase;
font-size:20px;
font-weigth:bold;
color:#fff;
}
div.loginInputsContainer input{
heigth:30px;
width:100%;
border:2px solid #f685a2;
font-size:20px;
padding:5px;
text-align:center;
}
div.loginButtonContainer{
margin-top:40px;
text-align:center;
}
div.loginButtonContainer button{
font-size:30px;
padding:10px 20px;
background:#f685a2;
border:none;

color:#fff;
}
div.header{
width:100%;
background:#f685a1;
padding:20px 0px;
text-align:right;
}
div.header a{
font-size:10px;
color:#fff;
border:2px solid #fff;
padding:5px 10px;
text-decoration:none;
border-radius:5px;
}
div.banner{
background:url("file:///C:/Users/hp/OneDrive/Documents/inventory%20management%20system/Screenshot%202024-01-07%20135628.png");
height: 100%;
width:100%;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
padding-top:100px;
padding-bottom:100px;
height:80vh;
}
div.homepageContainer{
width:100%;
max.width:1000px;
margin:0 auto;
}
div.bannerHeader h1{
font-size:100px;
color:#fff;
line-height:100px;
text-align:center;

}
div.bannerHeader p{
font-size:30px;
color:#fff;
text-transform:uppercase;
line-height:100px;
text-align:center;
}
p.bannerTagline{
margin-top:20px;
font-size:25px;
color:#fff;
}
div.bannerIcons{
margin-top:30px;
}
div.bannerIcons a{
font-size:25px;
margin-left:40px;
padding:7px 15px;
background:rgba(0,0,0,0.5);
border-radius:50%;
width:5%;
height:50px;
display:inline-block;
}
div.bannerIcons a:first-child{
margin-left:0px;
}
div.bannerIcons a:hover{
color:#fff;
font-size:25px;
background:#f685a1;
transitions:.5s 0px;
}
div.homepageFeatures{
display:flex;

flex-direction:row;
padding:50px 0px;
}
div.homepageFeature{
padding:10px 20px;
text-align:center;
width:33.33%;
}
div.homepageFeature:hover{
border-top:2px solid #f8a4b9;
border-bottom:2px solid #f8a4b9;
transition:0.5s all;
}
div.homepageFeature span.featureIcon{
height:80px;
width:80px;
font-size:50px;
display:inline-block;
background:#f685a1;
color:#fff;
padding-top:5px;
border-radius:50%;
margin-bottom:20px;
}
div.homepageFeature h3.featureTitle{
margin-bottom:20px;
font-size:23px;
}
div.homepageFeature p.featureTitle{
color:#848484;
font-size:18px;

}
div.homepageNotify{

background:#e3e3e3;
padding:50px 0px;
}
div.homepageNotifyContainer{
display:flex;
flex-direction:row;
}
div.emailForm h3{
font-size:30px;
}
div.emailForm{
width:40%;
text-align:center;
}
div.homepageNotify h3{
margin-bottom:20px;
text-align:center;
}
div.homepageNotify p{
color:#848484;
line-height:180%;
margin-bottom:30px;
}
div.formContainer{
width:80%;
position:relative;
}
div.formContainer input{
width:100%;
padding:15px 10px;
border-radius:10px;
border:none;
}
div.formContainer input:focus{

outline:none;
}
div.formContainer button{
position:absolute;
right:0;
top:0;
height:100%;
font-size:25px;
padding:0px 10px;
background:#f685a1;
border:none;
color:#fff;
border-top-right-radius:15px;
border-bottom-right-radius:15px;
}
div.socials{
text-align:center;
padding:70px 0 40px 0px;
}
h3.socialHeader{
font-size:30px;
text-align:center;
}
p.socialText{
margin-top:20px;
margin-bottom:25px;
color:#848484;
text-align:center;
font-size:20px;
}
div.socialIconsContainer a{
font-size:23px;
height:20px;
width:20px;
display:inline-block;
padding-top:7px 15px;
background:#d4d4d4;

border-radius:50%;
color:#fff;
margin-left:20px;
margin-top:20px;
}
div.socialIconsContainer a:hover{
background:#f8a4b9;
transition:0.3s all;
}
div.footer{
background:#e3e3e3;
padding-top: 50px;
padding-bottom: 50px;
text-align:center;
}
div.footer a{
color:#848484;
margin-left:30px;
text-decoration:none;
}
div.footer a:hover{
font-weight:bold;
color:#f8a4b9;
transition:0.5s all;
}
#dashboardMainContainer{
display:flex;
flex-direction:row;
}

div.dashboard_sidebar{
width:20%;
background:#323232;
height:100vh;
}
div.dashboard_content_container{
width:80%;
background:#f4f6f9;
}

h3.dashboard_logo{
color:#f685a1;
font-size:80px;
text-align:center;
}
div.dashboard_sidebar_user{
text-align:center;
position;relative;
padding-bottom:20px;
border-bottom:1px solid #fff;
}

div.dashboard_sidebar_user img{
width:80px;
display:inline-block;
border-radius:50%;
border:2px solid #f685a1;
margin-right:5px;
vertical-align:middle;
}
div.dashboard_sidebar_user span{
top:20%;
font-size:18px;
text-transform:uppercase;
color:#fff;
display:inline-block;
}
ul.dashboard_menu_lists{
margin-top:20px;
}
ul.dashboard_menu_lists li{
padding: 15px 15px;
text-tarnsform:uppercase;
}
ul.dashboard_menu_lists li a{
text-decoration:none;
color:#fff;
display:block;

font-size:20px;'
}
ul.dashboard_menu_lists li a i{
font-size:25px;
}
{
ul.dashboard_menu_lists li.menuActive{
background:#f685a1;
color:#fff;
}
ul.dashboard_menu_lists li:hover{
background:#f685a1;
color:#fff;
transition:0.3s all;
}
div.dashboard_topNav{
background:#fff;
padding:20px;
}
div.dashboard_topNav a{
color:#848383;
font-size:18px;
text-decoration:none;
}
a#logoutBtn{
float: right;
}
div.dashboard_content{
padding:50px 10px 10px 10px;
}
div.dashboard_content_main{
background:#fff;
min-height:800px;
height:100%;
}